

$font-scale: 1.2;
$font-size-max: (
  h1:    $base-font-size * $font-scale * $font-scale * $font-scale * $font-scale * $font-scale,
  h2:    $base-font-size * $font-scale * $font-scale * $font-scale * $font-scale,
  h3:    $base-font-size * $font-scale * $font-scale * $font-scale,
  h4:    $base-font-size * $font-scale * $font-scale,
  h5:    $base-font-size * $font-scale * $font-scale,
  h6:    $base-font-size * $font-scale * $font-scale,
  p:     $base-font-size * $font-scale,
  small: $base-font-size
);

$font-scale: 1.067;
$font-size-min: (
  h1:    $base-font-size * $font-scale * $font-scale * $font-scale * $font-scale,
  h2:    $base-font-size * $font-scale * $font-scale * $font-scale,
  h3:    $base-font-size * $font-scale * $font-scale,
  h4:    $base-font-size * $font-scale,
  h5:    $base-font-size * $font-scale,
  h6:    $base-font-size * $font-scale,
  p:     $base-font-size,
  small: $base-font-size / $font-scale
);

$tag-names: h1 h2 h3 h4 h5 h6 p small;
@each $tag-name in $tag-names {
  #{$tag-name},
  %#{$tag-name}--slinky-type,
  #{$tag-name}.slinky-type {
    @include slinky-type(map-get($font-size-min, #{$tag-name}), map-get($font-size-max, #{$tag-name}));
  }
}
